.BookInfo {
    max-width: 900px;
    margin: 0 auto;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
  
      &__left {
        display: flex;
        align-items: center;
  
        & > * {
          margin-bottom: 0;
        }
      }
    }

    .image {
      width: 41%;
      margin-right: 2%;
      float: left;
    }
    .description {
      width: 46%;
      float: right;

      div {
        padding: 2%;
      }
    }

    .info {
      width: 100%;
    }
    .clearFix {
      clear:both;
      align-items: center;
    }  
  }
  